.search__input {
  margin-right: 10px;
  line-height: 22px;
  border: none;
  border-radius: 3px;
  color: #959595;
}

.search__submit {
  line-height: 22px;
  border: none;
  border-radius: 3px;
  background-color: #ffffff;
  color: #3f3f3f;
  cursor: pointer;
  font-weight: bold;
}

.search__submit:hover {
}
